.header {
  grid-auto-flow: column;
  gap: 15px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header ul {
  text-align: center;
}

.header ul li {
  display: inline;
  margin-right: 15px;
}
